<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- 这个文件需要放置到执行文件所在位置才能有用。 -->
	<targets>
		<!-- 每日分文件：${shortdate} 会替换成当天日期 -->
		<target xsi:type="File"
				name="file"
				fileName="Logs/${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
	</targets>
	<rules>
		<!-- 所有 logger 都记录 Debug 及以上 -->
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>

